<div class="comh" (scroll)="onScroll($event)">
  <app-header [status]="true"></app-header>
  <section class="first">
    <div class="parallax" data-parallax>
      <div class='stars'></div>
      <div class='stars2'></div>
      <div class='stars3'></div>
  </div>
    <div class="c-hd">
      <span>COMMENT POUVONS-NOUS VOUS AIDER ?</span>
      <span>DISCUTONS DÈS AUJOURD'HUI</span>
      <span>Faites-nous part des défis des votre entreprise et nos experts BeOpenIT vous aideront à 
          dynamiser votre activité grâce aux meilleurs des technologies cloud actuelles ... tout en 
         un oeil sur ce qui se profile à l'horizon.</span>
  </div>
  <div class="c-bd">
      <img alt="HUMAN-COMMENT">
      <div class="box">
          <hspot-form></hspot-form>
      </div>
  </div>
  <img alt="CLOUD" class="cloud">
  </section>
  <section class="second">
    <div class="cs-hd">
          <span>Retrouvez-nous <br> <strong>en France et en Afrique</strong></span>
    </div>
    <div class="cs-bd">
      <div class="green">
        <span>FRANCE</span>
        <span>contact@beopenit.com <br> +33 6 88 43 06 73</span>
        <span>8 Rue des Pirogues de Bercy,<br> 75012 Paris</span>
      </div>
      <div class="yellow">
        <span>SÉNÉGAL</span>
        <span>contact@beopenit.com <br> +33 6 88 43 06 73</span>
        <span>Cité des jeunes cadres lot n°2 <br> BP 29920, Dakar</span>
      </div>
      <div class="red">
        <span>CÔTE D’IVOIRE</span>
        <span>contact@beopenit.com <br> +33 6 88 43 06 73</span>
        <span>Avenue Dr Crozet, Abidjan XL Plateau Centre <br> 01 BP 2785, Abidjan</span>
      </div>
    </div>
  </section>
  <section class="third">
      <img  alt="CLOUD" class="cloud">
      <div class="v-hd">
            <img class="kl-o" alt="">
            <span>Retrouvez-nous nos nouveautés, notre actualité,
              nos évènements.</span>
            <img class="pl-o" alt="LINKEDIN" (click)="redirection('https://www.linkedin.com/company/beopenit/')">
      </div>
      <div class="parallax" data-parallax>
        <div class='stars'></div>
        <div class='stars2'></div>
        <div class='stars3'></div>
    </div>
  </section>
  <app-footer></app-footer>
</div>

