<div class="comh" (scroll)="onScroll($event)">
    <app-header [status]="true"></app-header>
    <section class="fouth">
        <div class="parallax" data-parallax>
            <div class='stars'></div>
            <div class='stars2'></div>
            <div class='stars3'></div>
        </div>
        <div class="hder">
             <span>Mail bien reçu ! <br> <strong>Vous recevrez une réponse sous 48 heures ouvrés.</strong></span>
              <span>Accélérons votre migration vers le cloud, grâces aux hommes et femmes derrières la machine.</span>
        </div>
  
        <div class="bder">
            <div class="row">
                <div class="col-md-4">
                    <div class="cad blue">
                        <div class="inner"></div>
                        <div class="flip">
                            <img  alt="" class="bg-1">
                            <span>Retourner à la case depart HomePage</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cad green">
                        <div class="inner"></div>
                        <div class="flip">
                            <img  alt="" class="bg-2">
                          <span>Découvrez nos dernières publications</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cad red">
                        <div class="inner"></div>
                        <div class="flip">
                            <img  alt="" class="bg-3">
                            <span>Restons en contact. Rejoingnez-nous sur Linkedin</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <app-footer></app-footer>
</div>