<div class="c-inner">
    <div class="sub-nav">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a><span>{{'Cloud engineering'}}</span></a></li>
            </ol>
          </nav>
    </div>
    <div class="content-mn">
      <div class="side-b">
        <div class="category">
            <div class="hd">
                <span>CATEGORIES</span>
            </div>
            <div class="bd">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        DevSecOps
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Data, ML & IA
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Cybersécurité
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Développement
                    </label>
                </div>
            </div>
        </div>
        <div class="popular">
            <div class="hd">
                <span>POPULAR</span>
            </div>
            <div class="bd">
    
            </div>
        </div>
        <div class="tags">
            <div class="hd">
                <span>TAGS</span>
            </div>
            <div class="bd">
    
            </div>
        </div>
    </div>
    <div class="list-v">
        <div class="inner">
            <a class="item-crd" *ngFor="let item of posts | paginate:{itemsPerPage: 4, currentPage: p }" (click)="goToArticle(item?.id)">
                <div class="dhb">
                  <img [src]="item?.feature_image" alt="">
                </div>
                <div class="bdy">
                    <div class="title">
                        <span>{{item?.title}}</span>
                        <span>{{item?.created_at | date : 'shortDate'}}  par  {{item?.authors[0]?.name}}</span>
                    </div>
                    <div class="describ">
                        <span> {{item?.custom_excerpt}}
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <div class="navigation green">
            <pagination-controls (pageChange)="p = $event" autoHide="true"></pagination-controls>
        </div>
    </div>
    </div>
    <app-footer></app-footer>
</div>


<div class="mobile-view">
    <div class="sub-nav">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a><span>{{'Cloud engineering'}}</span></a></li>
            </ol>
          </nav>
    </div>
    <div class="content-mn">
        <div class="top">
            <div class="category">
                <div class="hd">
                    <span>CATEGORIES</span>
                </div>
                <div class="bd">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            DevSecOps
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                        <label class="form-check-label" for="defaultCheck2">
                            Data, ML & IA
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                        <label class="form-check-label" for="defaultCheck3">
                            Cybersécurité
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                        <label class="form-check-label" for="defaultCheck4">
                            Développement
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="middle">
            <div class="list-v">
                <div class="item-v" *ngFor="let item of posts | paginate:{itemsPerPage: 5, currentPage: p }" (click)="goToArticle(item?.id)">
                    <div class="am">
                        <img [src]="item?.feature_image"alt="ARTICLE" >
                        <div class="description">
                            <span>{{item?.title}}</span>
                            <span>DevOps | {{item?.created_at | date:'mediumDate':'fr'}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navigation">
                <pagination-controls (pageChange)="p = $event" autoHide="true"></pagination-controls>
            </div>
        </div>
        <div class="bottom">
            <div class="tags">
                <div class="hd">
                    <span>TAGS</span>
                </div>
                <div class="bd">
    
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>

<div class="loading" *ngIf="spin == true">
    <em class="fas fa-dharmachakra fa-spin"></em>
</div>