<footer class="flex-xy">
    <div class="_container flex-y">
          <div class="f-line flex-x">
              <img src="" alt="">
               <div class="links flex-x">
                 <a routerLink="/expertise"> <span>{{"Expertises"}}</span></a>
                 <a routerLink="/formations"> <span>{{"Formations"}}</span></a>
                 <a routerLink="/bebliotheque"> <span>{{"Bebliothèque"}}</span></a>
                 <a (click)="redirection('https://gocno.io')"> <span>{{"CNO"}}</span></a>
                 <a routerLink="/contact"> <span>{{"Contact"}}</span></a>
               </div>
          </div>
          <div class="s-line flex-around">
              <div class="flex-y">
                <span>{{'FRANCE'}}</span>
                <span>{{"8 Rue des Pirogues de Bercy, 75012 Paris contact@beopenit.com"}}</span>
              </div>
              <div class="flex-y">
                <span>{{'SENEGAL'}}</span>
                <span>{{"Cité des jeunes cadres lot n°2 BP 29920, Dakar contact@beopenit.com"}}</span>
              </div>
              <div class="flex-y">
                <span>{{'CÔTE D’IVOIRE'}}</span>
                <span>{{"Avenue Dr Crozet, Abidjan XL Plateau Centre 01 BP 2785, Abidjan, contact@beopenit.com"}}</span>
              </div>
          </div>
          <div class="t-line flex-x">
            <img  alt="Human Powerful">
            <img alt="Linkedin" (click)="redirection('https://www.linkedin.com/company/beopenit/')">
            <img  alt="Linux Foundation">
          </div>
          <div class="end-line flex-x">
              <span>{{"Copyright © 2010-2022 BeOpen IT. Tous droits réservés."}}</span>
              <span>{{"Merci Freepik pour ces belles illustrations."}}</span>
              <span>{{"Privacy Notice I Site Terms I Cookie Settings"}}</span>
          </div>
    </div>
    <div class="_container-mob">
      <div class="up flex-y">
          <div class="flex-x">
              <a><span>{{'Expertises'}}</span></a>
              <a><span>{{'Formations'}}</span></a>
          </div>
          <div class="flex-x">
            <a><span>{{'Bebliothèque'}}</span></a>
            <a><span>{{'CNO'}}</span></a>
          </div>
          <div class="flex-x">
            <a ><span>{{'Contacts'}}</span></a>
          </div>
      </div>
      <div class="center">
          <img  alt="HUMAN POW"  class="hms">
          <img alt="Linkedin" class="lik" (click)="redirection('https://www.linkedin.com/company/beopenit/')">
          <img  alt="HUMAN SUC" class="smh">
      </div>
      <div class="down flex-y">
          <img src="../../../../assets/img/logo-blanc.svg" alt="">
          <div class="flex-y">
            <span>{{"Privacy Notice I Site Terms I Cookie Settings"}}</span>
            <span>{{"Copyright © 2010-2022 BeOpen IT. Tous droits réservés."}}</span>
            <span>{{"Merci pour Freepik ces belles illustrations."}}</span>
          </div>
      </div>
    </div>
</footer>